.container {
  max-width: 1200px;
}

.main-news img {
  border-radius: 8px;
}

.medium-news .bg-white {
  transition: transform 0.3s, box-shadow 0.3s;
}

.medium-news .bg-white:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.small-news .bg-white {
  transition: transform 0.3s, box-shadow 0.3s;
}

.small-news .bg-white:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.small-news img {
  height: 128px; /* Ajusta a altura das imagens menores */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.dark .container {
  background-color: #121212;
}

.dark .bg-white {
  background-color: #1e1e1e;
}

.dark .text-gray-800 {
  color: #e0e0e0;
}

.dark .text-gray-600 {
  color: #a0a0a0;
}

.dark .text-gray-400 {
  color: #808080;
}
